<mat-form-field appearance="fill">
    <mat-label>Entrer l'intervalle de date</mat-label>
    <mat-date-range-input [rangePicker]="picker">
        <input #startDate matStartDate (dateChange)="onStartDateChange(startDate.value)" name="startDate"
            placeholder="Date de départ">
        <input #endDate matEndDate (dateChange)="onEndDateChange(endDate.value)" name="endDate"
            placeholder="Date de fin">
    </mat-date-range-input>
    <mat-hint>YYYY/MM/DD – YYYY/MM/DD</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
